<!doctype html>
<html>

<head>
  <title>Message Board - Github Integration</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <script src='./app/main.jsx'></script>
</head>

<script>
  $.getJSON('/messages', (messages) => {
    console.log(messages);
    messages.forEach((m) => {
      $('#messages').append(`
<div>
	<h3>
		${m.title}
	</h3>
	<p>
		${m.body}
	</p>
	<a href=${m.link}>
		Learn More
	</a>
</div>
			`);
    })

  })
</script>

<body>
  <div class=container>
    <h1>WSK ConMan</h1>
    <div id=messages></div>
  </div>
</body>

</html>